<div class="center-div">
    <mat-card class="about-me-card">
        <mat-card-header>
          <div mat-card-avatar class="about-me-header-image"></div>
          <mat-card-title>Dnyanesh Barkade</mat-card-title>
          <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/me.jpg" alt="Dnyanesh Barkade">
        <mat-card-content>
          <p>
            I am full stack developer based out of Pune. AngularFire provides multiple module formats for different types of builds.
            The guide is based on the Angular CLI. It is possible to do a manual setup with Webpack or a SystemJS build as well.
            You should see a message on the page that says App works!
            And that's it! If it's totally borked, file an issue and let us know.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button aria-label="click to like my work." (click)="likeplus();openSnackBar();">
              <mat-icon color="primary" [(matBadge)]="mylikes" matBadgeColor="warn">favorite</mat-icon>
          </button>
          <button mat-button color="primary" (click)="navigateToGit()">Github</button>
          <button mat-button color="primary">Portfolio</button>
        </mat-card-actions>
      </mat-card>
</div>