.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


#main-content {
  /* This should be exactly equal to height of footer in footer.css */
  padding-bottom: 60px;
}

.side-nav-background {
  background-color: #757de8;
}

