<div  id="technical-component">
    
    <mat-vertical-stepper linear="false">
        <mat-step>
            <ng-template matStepLabel>Support/Resistance</ng-template>
                Some analysis questions
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Option Chain Analysis</ng-template>
                Some analysis questions
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Divergence</ng-template>
                Some analysis questions
                <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Price Action Strategy</ng-template>
                Some analysis questions
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>        
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Candlestick</ng-template>
                Some analysis questions
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Trendline</ng-template>
                Some analysis questions
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Moving Average</ng-template>
                Some analysis questions
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>HeikenAshi Stochatic RSI</ng-template>
                Some analysis questions
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Nifty Corelation</ng-template>
                Some analysis questions
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Other Setup</ng-template>
                Some analysis questions
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done with technical analysis.
            <button mat-raised-button color="primary" (click)="openSnackBar()" >Done</button>
        </mat-step>
    </mat-vertical-stepper>
    <!-- Need to implement custom pipe -->
</div>