<div  id="technical-component">
    
    <mat-vertical-stepper linear="false">
        <mat-step>
            <ng-template matStepLabel>Support/Resistance</ng-template>
                <mat-form-field class="form-field">
                    <textarea matInput placeholder="Add your analysis"></textarea>
                </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Option Chain Analysis</ng-template>
                <mat-form-field class="form-field">
                        <textarea matInput placeholder="Add your analysis"></textarea>
                    </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Fibonacci Retracement</ng-template>
                <mat-form-field class="form-field">
                        <textarea matInput placeholder="Add your analysis"></textarea>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Divergence</ng-template>
                <mat-form-field class="form-field">
                        <textarea matInput placeholder="Add your analysis"></textarea>
                </mat-form-field>
                <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Price Action Strategy</ng-template>
                <mat-form-field class="form-field">
                        <textarea matInput placeholder="Add your analysis"></textarea>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>        
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Candlestick</ng-template>
                <mat-form-field class="form-field">
                        <textarea matInput placeholder="Add your analysis"></textarea>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Trendline</ng-template>
                <mat-form-field class="form-field">
                        <textarea matInput placeholder="Add your analysis"></textarea>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Moving Average</ng-template>
                <mat-form-field class="form-field">
                        <textarea matInput placeholder="Add your analysis"></textarea>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>HeikenAshi Stochatic RSI</ng-template>
                <mat-form-field class="form-field">
                        <textarea matInput placeholder="Add your analysis"></textarea>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Nifty Corelation</ng-template>
                <mat-form-field class="form-field">
                        <textarea matInput placeholder="Add your analysis"></textarea>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Other Setup</ng-template>
                <mat-form-field class="form-field">
                        <textarea matInput placeholder="Add your analysis"></textarea>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>    
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            Done with technical analysis.
            <button mat-raised-button color="primary" [routerLink]="['/decision']" (click)="openSnackBar();goToDecision()" >Done</button>
        </mat-step>
    </mat-vertical-stepper>
    <!-- Need to implement custom pipe -->
</div>